################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodingTest/CodingTest/obj/Debug
/CodingTest/.vs/CodingTest/v15/Server/sqlite3
